extends layout

block content
  form.needs-validation(method='POST', action='' novalidate)

    div.form-row
      div.col.mb-3
        input#title.form-control.form-control-lg(type='text', name='title',
          placeholder='Title', minlength='2', maxlength='80', required)
        div.invalid-feedback 2-80 characters

    div.form-row.mb-3
      div.col-md-4
        div.input-group
          div.input-group-prepend
            label.input-group-text(for='mediatype') Mediatype
          select#mediatype.custom-select(name='mediatype')
            option albums
            option books
            option films
      div.col-md-5
        div.input-group
          div.input-group-prepend
            span.input-group-text Source
          input#source.form-control(type='text', name='source',
            placeholder='Source label',
            minlength='2', maxlength='32', required)
          div.invalid-feedback 2-32 characters
      div.col-md-3
        div.input-group
          div.input-group-prepend
            span.input-group-text Year
          input#year.form-control(type='text', name='year',
            placeholder='YYYY', min='0', max='(new Date()).getFullYear()',
            required)

    div.input-group.mb-3
      div.input-group-prepend
        span.input-group-text Genre
      input#genre.form-control(type='text', name='genre',
        placeholder='Literature, Science Fiction',
        minlength='2', maxlength='32', required)
      div.invalid-feedback 2-80 characters

    div.input-group.mb-3
      div.input-group-prepend
        span.input-group-text Works
      textarea#works.form-control(name="works", rows="5",
        placeholder='* Title (year) Creators\n* Title (year) Creators',
        minlength='5', maxlength='1024', required)
      div.invalid-feedback 5-1024 characters.

    div.form-group.row.d-flex.justify-content-center
      button.btn.btn-primary(type='submit') Save
