extends layout

block content
  h1= title

  form.needs-validation.m-3(method='POST', action='' novalidate)

    div.form-row
      div.col.mb-3
        input#title.form-control.form-control-lg(type='text', name='title',
          placeholder='Title', minlength='3', maxlength='80', required)
        div.invalid-feedback 3-80 characters

    div.form-row.mb-3
      div.col-md-4
        div.input-group
          div.input-group-prepend
            label.input-group-text(for='mediatype') Mediatype
          select#mediatype.custom-select
            option albums
            option books
            option film
      div.col-md-5
        div.input-group
          div.input-group-prepend
            span.input-group-text Source
          input#source.form-control(type='text', name='source',
            placeholder='Source label',
            minlength='2', maxlength='32', required)
          div.invalid-feedback 2-32 characters
      div.col-md-3
        div.input-group
          div.input-group-prepend
            span.input-group-text Year
          input#year.form-control(type='text', name='year',
            placeholder='YYYY', min='0', max='(new Date()).getFullYear()',
            required)

    div.input-group.mb-3
      div.input-group-prepend
        span.input-group-text Description
      input#description.form-control(type='text', name='description',
        minlength='5', maxlength='140', placeholder='Optional description',
        required)
      div.invalid-feedback 5-140 characters

    div.input-group.mb-3
      div.input-group-prepend
        span.input-group-text Genre
      input#description.form-control(type='text', name='genre',
      | placeholder='Fiction, Literature, etc.', required)

    div.input-group.mb-3
      div.input-group-prepend
        span.input-group-text Works
      textarea#works.form-control(aria-label="Works", rows="5",
      | placeholder='* Title (year) Creators\n* Title (year) Creators\n* Title (year) Creators', required)

    div.form-group.row.float-right
      button.btn.btn-primary(type='submit') Save
