extends layout

block content
  h3.mb-3.text-center Work: #{work.title}
  div.d-flex.justify-content-center
    table.table-sm.table-bordered.table-hover
      tr
        td #[b Creator:]
        td #{work.creator}
      tr
        td #[b Description:]
        td #{work.description}
      tr
        td #[b Genre:]
        td #{work.genre}
      tr
        td #[b Language:]
        td #{work.language}
      tr
        td #[b Mediatype:]
        td #{work.mediatype}
      tr
        td #[b Title:]
        td #{work.title}
      tr
        td #[b Url:]
        td #{work.url}
      tr
        td #[b Year:]
        td #{work.year}
