extends layout

block content
  h1.mb-3 Work: #{work.title}

  div
  dl(class="row")
    dt.col-sm-2  Creator:
    dd.col-sm-10 #{work.creator} (#{work.year})

    dt.col-sm-2  Mediatype:
    dd.col-sm-10 #{work.mediatype}

    dt.col-sm-2  Language:
    dd.col-sm-10 #{work.language}

    if work.description
      dt.col-sm-2  Description:
      dd.col-sm-10 #{work.description}

    if work.url
      dt.col-sm-2  Url:
      dd.col-sm-10 #{work.url}

    if work.image
      dt.col-sm-2  Image:
      dd.col-sm-10 #{work.image}
