extends layout

block content
  h3.mb-3.text-center Goods: #{goods.title}
  div.d-flex.justify-content-center
    table.table-sm.table-bordered.table-hover
      tr
        td #[b Description:]
        td #{goods.description}
      tr
        td #[b Genres:]
        td
          each name in genres
            a.btn.btn-secondary.mr-1.btn-sm(role='button',
              href='/catalog/genre/' + name) #{name}
      tr
        td #[b Image:]
        td #{goods.image}
      tr
        td #[b Mediatype:]
        td
          a(href='/catalog/works/' + goods.mediatype) #{goods.mediatype}
      tr
        td #[b Source:]
        td
          if goods.url
            a(href=goods.url) #{goods.source}
          else
            span #{goods.source}
      tr
        td #[b Title:]
        td #{goods.title}
      tr
        td #[b Url:]
        td #{goods.url}
      tr
        td #[b Works:]
        td
          ol.px-3.py-2
            each id, rank in ranks
              li(value='#{rank}').
                #[a(href='/catalog/work/' + id) #{works[id].title}]
                  (#{works[id].year}) #{works[id].creator}
      tr
        td #[b Year:]
        td #{goods.year}
