extends layout

block content
  h1 #{goods.title}

  p #[em #{goods.description}]

  dl(class="row")
    dt(class="col-sm-2")  Title:
    dd(class="col-sm-10") #{goods.title}

    dt(class="col-sm-2")  Source:
    dd(class="col-sm-10")
      if goods.url
        a(href=goods.url target="_blank") #{goods.source}
      else
        #{goods.source}

    dt(class="col-sm-2")  Year:
    dd(class="col-sm-10") #{goods.year}

    dt(class="col-sm-2")  Mediatype:
    dd(class="col-sm-10") #{goods.mediatype}

    dt(class="col-sm-2")  Description:
    dd(class="col-sm-10") #{goods.description}

    dt(class="col-sm-2")  Url:
    dd(class="col-sm-10") #{goods.url}

    dt(class="col-sm-2")  Image:
    dd(class="col-sm-10") #{goods.image}

    dt(class="col-sm-2")  Genres:
    dd(class="col-sm-10")
      each name in genres
        a.btn-sm.btn.btn-outline-primary.mr-1(role='button' href='/catalog/genre/' + name) #{name}

    dt(class="col-sm-2")  Works:
    dd(class="col-sm-10")
      ol.px-3.py-2
        each id, rank in ranks
          li(value='#{rank}')
            a(href='/catalog/work/' + id) #{works[id].title}
