extends layout

block content

  h3.text-center Albums
  div.d-flex.justify-content-center
    if albums.length
      ol
        each work in albums
          li.
            #[a(href='/catalog/work/' + work._id) #{work.title}]
              (#{work.year}) #{work.creator}
    else
      p None found

  h3.text-center Books
  div.d-flex.justify-content-center
    if books.length
      ol
        each work in books
          li.
            #[a(href='/catalog/work/' + work._id) #{work.title}]
              (#{work.year}) #{work.creator}
    else
      p None found

  h3.text-center Films
  div.d-flex.justify-content-center
    if films.length
      ol
        each work in films
          li.
            #[a(href='/catalog/work/' + work._id) #{work.title}]
              (#{work.year}) #{work.creator}
    else
      p None found
