doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    if env.DEVMODE
      link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
      script(src='/javascripts/jquery.min.js')
      script(src='/javascripts/bootstrap.min.js')
    else
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
    if validatejs
      script(src='/javascripts/validate.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
      div.row
        div.col
        div.col-8.m-3
          nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.rounded
            a.navbar-brand(href='/catalog') PG
            button.navbar-toggler(type="button",
              data-toggle="collapse",
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation")
                span.navbar-toggler-icon
            div#navbarSupportedContent.collapse.navbar-collapse
              ul.navbar-nav.mr-auto
                li.nav-item
                  a.nav-link(href="/catalog/works/albums") Albums
                li.nav-item
                  a.nav-link(href="/catalog/works/books") Books
                li.nav-item
                  a.nav-link(href="/catalog/works/film") Film
                li.nav-item
                  a.nav-link.mx-5(href="/catalog/admin") Admin
          div.mt-3.p-3
            block content
        div.col
