extends layout

block content
  h1= title

  h3 Albums
  ul
    each work in data.albums
      li.
        #[a(href='/catalog/work/' + work.id) #{work.title}]
        (#{work.year}) #{work.creator}
    else
      li There are no albums.

  h3 Books
  ul
    each work in data.books
      li.
        #[a(href='/catalog/work/' + work.id) #{work.title}]
        (#{work.year}) #{work.creator}
    else
      li There are no books.

  h3 Films
  ul
    each work in data.film
      li.
        #[a(href='/catalog/work/' + work.id) #{work.title}]
        (#{work.year}) #{work.creator}
    else
      li There are no films.
